.Card {
    display: flex;
    text-align: center;
    width: 100%;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-out;
    padding: 12px;
    border: 2px solid crimson;
    margin: 10px;
}
.Card:first-of-type {
    margin-top: 20px;
}

.Card:nth-child(3n+0) {
    /*background-color: ghostwhite;*/
    background-color: lightgreen;
}

.Card:nth-child(3n+1) {
    /*background-color: whitesmoke;*/
    background-color: lightcyan;
}
.Card:nth-child(3n+2) {
    /*background-color: whitesmoke;*/
    background-color: lightgoldenrodyellow;
}

.Card:hover,
.Card:hover input[type=button] {
    color: black;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header input[type=button] {
    background-color: transparent;
    border: none;
    color: hotpink;
}

.card-controls {
    margin-left: auto;
}

.card-id {
    text-decoration: underline;
}

@media all and (min-width: 1024px) {
    .Card {
        /*10px margin*/
        width: calc(50% - 15px);
        min-height: 250px;
        padding: 2rem;
    }

    .Card:nth-of-type(1), .Card:nth-of-type(2) {
        margin-top: 15px;
    }

    .Card:nth-of-type(odd) {
        margin-right: 5px;
    }

    .Card:nth-of-type(even) {
        margin-left: 5px;
    }
}
