.Card {
    display: flex;
    text-align: center;
    width: 100%;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-out;
    padding: 1rem;
    border-bottom: 2px solid hotpink;
}

.Card:nth-child(n+1) {
    /*background-color: ghostwhite;*/
    background-color: lightgreen;
}

.Card:nth-child(n+2) {
    /*background-color: whitesmoke;*/
    background-color: lightcyan;
}
.Card:nth-child(n+3) {
    /*background-color: whitesmoke;*/
    background-color: lightgoldenrodyellow;
}

.Card:hover,
.Card:hover input[type=button] {
    color: black;
}

input[type=button] {
    background-color: transparent;
    border: none;
    color: hotpink;
}

.card-id {
    text-decoration: underline;
}

@media all and (min-width: 1024px) {
    .Card {
        width: 50%;
        min-height: 250px;
        padding: 2rem;
        border-bottom: 5px solid hotpink;
    }
}
