.Card {
    width: 100vw;
    padding: 1rem 5%;
    border-bottom: 2px solid hotpink;
}

.Card .Display {
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-out;
}

.Card .Display:hover {
    background-color: deeppink;
    color: white;
    box-shadow: 0 0 10px black;
}

@media all and (min-width: 1024px){
    .Card {
        max-width: 640px;
    }
}
