.Header {
    border-bottom: 2px solid hotpink;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: ghostwhite;
}

.main-header {
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 2px solid;
}

.form-header label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.nav-categories {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 4px rgba(128, 128, 128, 0.7);
}

.nav-categories-internal-label {
    color: black;
    font-weight: bold;
    width: 100%;
    margin: 0 0 5px;
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
}

.nav-categories .categories {
    color: rgba(0, 0, 0, 0.9);
    line-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 3px;
}

.nav-categories .hasNotification {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}

@media all and (min-width: 1024px){
    /*  mq placeholder*/
    .Header {
        flex-direction: row;
    }
}
