.Header {
    border-bottom: 2px solid hotpink;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: ghostwhite;
}

.main-header {
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 2px solid;
}

.form-header label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

@media all and (min-width: 1024px){
    /*  mq placeholder*/
    .Header {
        flex-direction: row;
    }
}
