.DateControls {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DateControls select{
    font-size: 1.5em;
}

.DateControls input  {
    font-size: 1.25em;
}

/*.dateAsButton, .dateInput {*/
/*    min-width: fit-content;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*}*/

/*.dateAsButton {*/
/*    cursor: pointer;*/
/*    color: lightgray;*/
/*}*/

/*.dateAsButton:hover {*/
/*    color: black;*/
/*}*/

/*.dateInput {*/
/*    text-align: center;*/
/*    color: inherit;*/
/*}*/

.inputControlsForm {
    display: flex;
}

.inputControlsForm select, .inputControlsForm input[type="button"] {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #FF72A0;
}
.inputControlsForm input[type="button"] {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 1rem;
}
