.setDate select {
    font-size: 1.25em;
}

.dateAsButton, .dateInput {
    min-width: fit-content;
    background-color: transparent;
    border: none;
}

.dateAsButton {
    cursor: pointer;
    color: lightgray;
}

.dateAsButton:hover {
    color: #FF72A0;
}

.dateInput {
    text-align: center;
    color: inherit;
}

.inputControls {
    display: flex;
}

.inputControls select, .inputControls input[type="button"] {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FF72A0;
}
.inputControls input[type="button"] {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.15);
}
