.setDate {
    margin-left: auto;
}

.dateAsButton, .dateInput {
    min-width: 33vw;
    background-color: transparent;
    border: none;
}

.dateAsButton {
    cursor: pointer;
    color: lightgray;
}

.dateAsButton:hover {
    color: black;
    background-color: pink;
}

.dateInput {
    text-align: center;
    color: inherit;
}
