.CardsGrid {
    min-height: inherit;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media all and (min-width: 1024px) {
    /*.CardsGrid .Card:nth-child(1):hover,*/
    /*.CardsGrid .Card:nth-child(2):hover {*/
    /*    z-index: 2;*/
    /*}*/

    .CardsGrid .Card:nth-child(1),
    .CardsGrid .Card:nth-child(2) {
        width: 50%;
        height: 70vh;
    }

    .CardsGrid .Card {
        min-height: 30vh;
        max-width: 100%;
        padding: 2rem;
    }
}
