.Display {
    user-select: none;
    flex: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    font-size: 2rem;
    line-height: 2em;
}
/*.Display > .title {*/
.Display .time-amount {
    padding: 5px 10px;
    background-color: black;
    font-family: 'Lobster', cursive;
    color: white;
    border-radius: 10px;
}
.Display .time-scale {
    font-weight: bold;
    font-size: 1em;
    padding: 0 8px 0 8px;
}

.Display .time-complement {
    font-size: 0.5em;
}
.Display > .title {
    text-align: center;
    text-decoration: underline;
}

@media all and (min-width: 1024px){
    .Display > .title {
        line-height: 4rem;
    }
}
