.Display {
    user-select: none;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    font-size: 3rem;
}

.Display > span {
    font-family: 'Lobster', cursive;
    text-align: center;
}

@media all and (min-width: 1024px){
    .Display {
        font-size: 5rem;
    }
}
