.Display {
    user-select: none;
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    font-size: 3rem;
}
.Display > .title {
    font-family: 'Lobster', cursive;
    line-height: 3rem;
    padding: 1rem 0;
}
.Display > .countdown-message {
    text-align: center;
    font-size: 2rem;
}

@media all and (min-width: 1024px){
    .Display {
        font-size: 4rem;
    }

    .Display > .title {
        line-height: 4rem;
    }
}
