@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body {
    font-size: 16px;
    margin: 0;
}

#root {
    min-height: 100vh;
}

input {
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 4px;
}

input:focus {
    outline: 1px solid hotpink;
}
